.grid-container{
    background-color: coral;
    display: grid;
    height: 800px;
    grid-gap: 25px;

    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);

    /* Justify Content */
    /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* Align Content */
    /* align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly; */

    /* Place Content */
    /* <align-content><justify-content>*/
    /* place-content: start end;
    place-content: start center;
    place-content: center;
    place-content: space-around;
    place-content: space-between;
    place-content: space-evenly;
    place-content: space-around space-evenly;
    place-content: space-around space-between;
    place-content: space-between space-around;
    place-content: space-between space-evenly;
    place-content: space-evenly space-around; */
    place-content: space-evenly space-between;
}


.item {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
}

.item1 {
    background-color: aqua;
}

.item2 {
    background-color: aquamarine;
}

.item3 {
    background-color: blue;
}

.item4 {
    background-color: blueviolet;
}

.item5 {
    background-color: brown;
}

.item6 {
    background-color: burlywood;
}

.item7 {
    background-color: hotpink;
}

.item8 {
    background-color: chartreuse;
}