/*

    2d Layout

    A grid layout consists of a parent element with one or more child elements.
    All direct children of the grid container automatically becomes grid items.
    vertical lines of the grid items are called columns.
    Horizontal lines of the grid items are called rows.
    The spaces between each columns/rows are called gaps.

    grid-template-columns : This property defines the number of columns in your grid
    layout. If we define the width of each column, there here each value defines the
    width of the respective column.

    grid-template-rows : This property defines the height of each row.    

*/
.grid-container{
    background-color: orange;
    /* Initializing a grid layout */
    display: grid;

    /* grid container properties */
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 250px 5rem;

    /* grid column gap property */
    grid-column-gap: 10px;
    grid-column-gap: 5%;
    grid-column-gap: 1.5rem;
    grid-column-gap: 7vw;

    /* grid column gap property standard syntax */
    column-gap: 10px;
    column-gap: 5%;
    column-gap: 1.5rem;
    column-gap: 7vw;

    /* grid row gap property */
    grid-row-gap: 10px;
    grid-row-gap: 5%;
    grid-row-gap: 1.5rem;
    grid-row-gap: 7vw;

    /* grid row gap property standard syntax */
    row-gap: 10px;
    row-gap: 5%;
    row-gap: 1.5rem;
    row-gap: 7vw;

    grid-gap: 15px 15px;
    grid-gap: 5% 5%;
    grid-gap: 1.5rem 2.5rem;
    grid-gap: 7vw 7vm;

    gap: 15px 15px;
    gap: 5% 5%;
    gap: 1.5rem 2.5rem;
    gap: 7vw 7vm;
}
.item{
    background-color: blue;
}