*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    height: 100vh;
}
.product-grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    gap: 2rem;
}
.product-grid_product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 3rem);
    align-items: center;
    color: white;
}
.product-grid_product-img{
    grid-column: 1/-1;
    grid-row: 1/8;
    height: 100%;
    width: 100%;
}

.product-grid_product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-grid_product-dept{
    grid-row: 8/9;
    font-size: 1.2rem;
    font-weight: 600;
    color: green;
}
.product-grid_product-name{
    grid-column: 1/-1;
    grid-row: 9/10;
    font-size: 1.6rem;
}
.product-grid_product-price{
    grid-column: 1/3;
    grid-row: 10/11;
    font-size: 1.5rem;
}
.product-grid_product-price span:first-child{
    text-decoration: line-through;
    color: blue;
    font-weight: bold;
}
.product-grid_product-price span:last-child {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.product-grid_product-discount{
    grid-column: 3/4;
    grid-row: 8/9;
    font-size: 1rem;
    font-weight: bold;
}

