*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    height: 100vh;
}
.product-grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    gap: 2rem;
}
.product-grid_product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 3rem);
    align-items: center;
    color: white;
}
.product-grid_product-img{
    grid-column: 1/-1;
    grid-row: 1/8;
    height: 100%;
    width: 100%;
}

.product-grid_product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
